.mapping{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
    
}
.mapping{

}

@media(max-width:888px) {
    .mapping{
        width: 99%;
        margin: 10px auto;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
}
@media(max-width:500px) {
    .mapping{
        width: 90%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    .note{
        margin-top: 20px ;
    }
}