@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Koulen', cursive;
}
/* .container{
    width: 30%;
    margin: 100px auto;
     text-align: center; 
    background-color: lightgrey;

} */
button{
    /* padding: 10px 20px; */
    /* font-size: 1.2rem; */
}
/* input{
    padding: 10px 20px;
    font-size: 1.2rem;
    margin: 10px 0;
} */
